In [1]:
#Importing necessary libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from scipy import stats
from collections import defaultdict
from sklearn.cluster import DBSCAN
from sklearn.preprocessing import StandardScaler
from sklearn.cluster import KMeans
from sklearn.decomposition import PCA

In [2]:
#Loading in the data using pandas to read the parquet file
TY_items = pd.read_parquet("/Users/wendyessilfie/Documents/GitHub/Business-statistics-/Tao Yin_Item_features.parquet")

In [3]:
ty_no_duplicates = TY_items.drop_duplicates()
ty_no_duplicates

,Articlenr,EF000001,EF000002,EF000003,EF000004,EF000005,EF000006,EF000007,EF000008,EF000010,...,EFDE0031,EFDE0032,EFFR0001,EFFR0002,EFNL0014,EFUK0017,EFUK0019,ETIM,statistiek_hoofdgroep,statistiek_subgroep
0,34581962,6.0,NaN,NaN,NaN,NaN,NaN,NaN,6.2,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,26.0,A,x1
1,35764300,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,30.0,A,x2
2,35823358,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,31.0,A,x3
3,28405226,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,321.0,B,y1
4,35622440,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14.0,C,y2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
168934,36400064,NaN,NaN,7.0,NaN,NaN,NaN,48.0,930.0,251.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,437.0,E,v2
168935,35683154,NaN,NaN,NaN,NaN,NaN,NaN,NaN,210.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,23.0,A,u3
168936,34382454,NaN,NaN,203.0,NaN,361.0,NaN,48.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,A,u1
168937,35544288,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,31.0,C,y2
168938,35615144,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,31.0,C,y2

In [4]:
TY_2 = ty_no_duplicates[['Articlenr', 'ETIM', 'statistiek_hoofdgroep', 'statistiek_subgroep']]
TY_2

        Articlenr   ETIM statistiek_hoofdgroep statistiek_subgroep
0        34581962   26.0                     A                  x1
1        35764300   30.0                     A                  x2
2        35823358   31.0                     A                  x3
3        28405226  321.0                     B                  y1
4        35622440   14.0                     C                  y2
...           ...    ...                   ...                 ...
168934   36400064  437.0                     E                  v2
168935   35683154   23.0                     A                  u3
168936   34382454    NaN                     A                  u1
168937   35544288   31.0                     C                  y2
168938   35615144   31.0                     C                  y2

[168699 rows x 4 columns]

In [5]:
# Create a new DataFrame that includes all columns except 'ETIM', 'statistiek_hoofdgroep', and 'statistiek_subgroep'
TY_items_only = ty_no_duplicates.drop(columns=['ETIM', 'statistiek_hoofdgroep', 'statistiek_subgroep'])

# Display the new DataFrame to confirm the columns are removed
TY_items_only.head

<bound method NDFrame.head of         Articlenr  EF000001  EF000002  EF000003  EF000004  EF000005  EF000006  \
0        34581962       6.0       NaN       NaN       NaN       NaN       NaN
1        35764300       NaN       NaN       NaN       NaN       NaN       NaN
2        35823358       NaN       NaN       NaN       NaN       NaN       NaN
3        28405226       NaN       NaN       NaN       NaN       NaN       NaN
4        35622440       NaN       NaN       NaN       NaN       NaN       NaN
...           ...       ...       ...       ...       ...       ...       ...
168934   36400064       NaN       NaN       7.0       NaN       NaN       NaN
168935   35683154       NaN       NaN       NaN       NaN       NaN       NaN
168936   34382454       NaN       NaN     203.0       NaN     361.0       NaN
168937   35544288       NaN       NaN       NaN       NaN       NaN       NaN
168938   35615144       NaN       NaN       NaN       NaN       NaN       NaN

        EF000007  EF000008  EF000010  ...  EFDE0003  EFDE0005  EFDE0025  \
0            NaN       6.2       NaN  ...       NaN       NaN       NaN
1            NaN       NaN       NaN  ...       NaN       NaN       NaN
2            NaN       NaN       NaN  ...       NaN       NaN       NaN
3            NaN       NaN       NaN  ...       NaN       NaN       NaN
4            NaN       NaN       NaN  ...       NaN       NaN       NaN
...          ...       ...       ...  ...       ...       ...       ...
168934      48.0     930.0     251.0  ...       NaN       NaN       NaN
168935       NaN     210.0       NaN  ...       NaN       NaN       NaN
168936      48.0       NaN       NaN  ...       NaN       NaN       NaN
168937       NaN       NaN       NaN  ...       NaN       NaN       NaN
168938       NaN       NaN       NaN  ...       NaN       NaN       NaN

        EFDE0031  EFDE0032  EFFR0001  EFFR0002  EFNL0014  EFUK0017  EFUK0019
0            NaN       NaN       NaN       NaN       NaN       NaN       NaN
1            NaN       NaN       NaN       NaN       NaN       NaN       NaN
2            NaN       NaN       NaN       NaN       NaN       NaN       NaN
3            NaN       NaN       NaN       NaN       NaN       NaN       NaN
4            NaN       NaN       NaN       NaN       NaN       NaN       NaN
...          ...       ...       ...       ...       ...       ...       ...
168934       NaN       NaN       NaN       NaN       NaN       NaN       NaN
168935       NaN       NaN       NaN       NaN       NaN       NaN       NaN
168936       NaN       NaN       NaN       NaN       NaN       NaN       NaN
168937       NaN       NaN       NaN       NaN       NaN       NaN       NaN
168938       NaN       NaN       NaN       NaN       NaN       NaN       NaN

[168699 rows x 4025 columns]>

In [6]:
TY_2[['Articlenr','statistiek_hoofdgroep']]
TY_hoofdgroep = TY_2['statistiek_hoofdgroep']

In [7]:
#hoofdgroep_encoded = pd.get_dummies(TY_2, columns=['statistiek_hoofdgroep'])
hoofdgroep_encoded = pd.get_dummies(TY_hoofdgroep, columns=['statistiek_hoofdgroep'], dtype=int)

# Display the DataFrame to check the results
hoofdgroep_encoded.head()

   A  B  C  D  E  F  G  H  I
0  1  0  0  0  0  0  0  0  0
1  1  0  0  0  0  0  0  0  0
2  1  0  0  0  0  0  0  0  0
3  0  1  0  0  0  0  0  0  0
4  0  0  1  0  0  0  0  0  0

# 2. Applying PCA on the features

###### PCA should be applied to reduce the dimensionality of the dataset while preserving as much variance as possible.
###### Firstly, it is necessary to standardize the dataset

In [8]:
# Exclude 'Articlenr' from scaling
TY_items_features = ty_no_duplicates.drop(columns=['Articlenr'])
# Feature scaling
# Define the StandardScaler instance
scaler = StandardScaler()
# Fit the StandardScaler to the feature data
scaler.fit(TY_items_features)
# Scale the feature data and convert back to a DataFrame
TY_scaled = pd.DataFrame(scaler.transform(TY_items_features), columns=TY_items_features.columns)
# Display the result
TY_scaled.head()

KeyboardInterrupt:

In [ ]:
# Create a new DataFrame that includes all columns except 'ETIM', 'statistiek_hoofdgroep', and 'statistiek_subgroep'
TY_items_only = ty_no_duplicates.drop(columns=['ETIM', 'statistiek_hoofdgroep', 'statistiek_subgroep'])

# Replace all NaN values with 0
TY_items_only.fillna(0, inplace=True)
# Display the DataFrame to check changes
TY_items_only.head()

In [ ]:
# Exclude 'Articlenr' from scaling
TY_items_features = TY_items_only.drop(columns=['Articlenr'])

# Feature scaling
# Define the StandardScaler instance
scaler = StandardScaler()
# Fit the StandardScaler to the feature data
scaler.fit(TY_items_features)
# Scale the feature data and convert back to a DataFrame
TY_scaled = pd.DataFrame(scaler.transform(TY_items_features), columns=TY_items_features.columns)
# Display the result
TY_scaled.head()

,EF000001,EF000002,EF000003,EF000004,EF000005,EF000006,EF000007,EF000008,EF000010,EF000012,...,EFDE0003,EFDE0005,EFDE0025,EFDE0031,EFDE0032,EFFR0001,EFFR0002,EFNL0014,EFUK0017,EFUK0019
0,0.062618,-0.16251,-0.261311,-0.20349,-0.076469,-0.063505,-0.261215,-0.171082,-0.337648,-0.030563,...,-0.00943,-0.010889,-0.023315,-0.023862,-0.011928,0.0,0.0,-0.072331,0.0,0.0
1,-0.021983,-0.16251,-0.261311,-0.20349,-0.076469,-0.063505,-0.261215,-0.183157,-0.337648,-0.030563,...,-0.00943,-0.010889,-0.023315,-0.023862,-0.011928,0.0,0.0,-0.072331,0.0,0.0
2,-0.021983,-0.16251,-0.261311,-0.20349,-0.076469,-0.063505,-0.261215,-0.183157,-0.337648,-0.030563,...,-0.00943,-0.010889,-0.023315,-0.023862,-0.011928,0.0,0.0,-0.072331,0.0,0.0
3,-0.021983,-0.16251,-0.261311,-0.20349,-0.076469,-0.063505,-0.261215,-0.183157,-0.337648,-0.030563,...,-0.00943,-0.010889,-0.023315,-0.023862,-0.011928,0.0,0.0,-0.072331,0.0,0.0
4,-0.021983,-0.16251,-0.261311,-0.20349,-0.076469,-0.063505,-0.261215,-0.183157,-0.337648,-0.030563,...,-0.00943,-0.010889,-0.023315,-0.023862,-0.011928,0.0,0.0,-0.072331,0.0,0.0

In [ ]:
## Performing PCA
from sklearn.decomposition import PCA
pca = PCA()
pca_comps = pca.fit_transform(TY_scaled)                    # pca components
var_exp = pca.explained_variance_ratio_                     # variance explained ratio 
cum_var_exp = np.cumsum(var_exp)                            # cumulative variance

: